extends template
block content
    div
        | Opps, you forgot password
        br
        | we are working on fix it
        br
        div
            a(href=frontendUrl + `/password/forgot/` + token) TOKEN

