doctype html
html
    head
        style
            include global.css
    body
        div.header
            block content
        div.footer
            | Your support team
            br
            | AppShopNode
            a(href=frontendUrl) CLICK!
